<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lui</title>

    <link rel="stylesheet" href="dep/lui/css/lui.css">
    <link rel="stylesheet" href="src/asset/css/page.css">
    
    <script src="dep/lui/js/LuiRem.js"></script>
    <script src="dep/vue/vue.js"></script>
    <script src="dep/vue/vue-router.min.js"></script>    

</head>
<body>

    <div class="all flex column" id="vue">

        <div class="top flex">
            <div class="logo flex">
                <img class="img-logo" src="src/asset/img/logo.png" alt="">
                <span class="span-logo">LAZY UI</span>
            </div>
        </div>

        <div class="body flex">

            <div class="left">
                <scroll>                
                    <ul class="ul-menu">                    
                        <li v-for="a in menus">
                            <span v-if="a.type==1" :class="['a-menu','at1']">{{a.name}}</span>
                            <router-link v-else :to="a.page" exact-active-class="active" :class="['a-menu','at2']" @click="active=a.id">
                                {{a.name}}
                            </router-link>                        
                        </li>
                    </ul>
                </scroll>
            </div>

            <div class="right">
                <scroll>
                    <transition mode="out-in" name="fade">
                        <router-view :route="route"></router-view>
                    </transition>
                </scroll>
            </div>

        </div>

    </div>

    <script src="dep/lui/js/LuiUtil.js"></script>
    <script src="dep/lui/js/Lui_2.0.js"></script>
    <script src="dep/namespace/Namespace_3.0.7.js" defer="defer" >
        let config = {
            scripts:[
                "dep/namespace/signals.js"
            ],
            start: "src/js/start"
        }
    </script>

</body>
</html>