@import url("root.css");
@import url("reset.css");
@import url("loading.css");
@import url("//at.alicdn.com/t/font_2041675_2jp1adnabxi.css");
/* lui基本样式 */
/* flex */
.flex{
    display: flex;
}
.flex.column{
    flex-direction: column;
}
.flex.center{
    align-items: center;
    justify-content: center;
}
.f1{
    flex: 1;
    overflow: hidden;
}

/* icon */
.iconfont{
    font-size: .16rem;
}

/* vue 过度动态 */
.fade-enter{    
    transform: translateY(.2rem);
    opacity: 0.1;
}
.fade-enter-active{
    transition:  all .7s;
}
.fade-leave-active{
    opacity: 0.05;
    transform: translateY(.2rem);
    transition:  all .6s;
}


/* column 1-12 */
.col1{width: 8.33%;}
.col2{width: 16.66%;}
.col3{width: 25%;}
.col4{width: 33.33%;}
.col5{width: 41.67%;}
.col6{width: 50%;}
.col7{width: 58.33%;}
.col8{width: 66.67%;}
.col9{width: 75%;}
.col10{width: 83.33%;}
.col11{width: 91.67%;}

/* toe text-overflow-ellipsis  文字超出省略 */
.toe{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* scroll ---- start */
._scroll{position: relative;overflow: hidden;height: 100%;pointer-events: auto;}

._scroll>._con{height: 100%;overflow: hidden;}

._scroll>._bar{position: absolute;}

._scroll>._bar._v{width: .08rem;height: 1rem;right: 0;background: var(--scroll-bar);top: 0;border-radius: .04rem;}

.user-unsel{user-select:none;}

.sel-complete ._scroll>._con{display: block;padding: 2px;overflow: hidden;max-height: 166px;}
/* scroll ---- end */


/* a, button */
button:active {
    transform: translateY(2px);
}
.btn{
    min-width: 1rem ;
    padding: 0 .1rem;
	letter-spacing: 1px;
	color: var(--input-color);
	position: relative;
    font-size: .16rem;
    line-height: 2.5;
    border-radius: 3px;
    cursor: pointer;
    background: #efefef;    
    border: none;
    
}
.btn:hover{
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.12), 0 17px 50px 0 rgba(0,0,0,0.1);
}
.btn[disabled]:hover{
    box-shadow: none;
}
/* 不同背景色button */
.btn.blue{
    background: var(--blue);
    color: #fff;
}
.btn.green{
    background: var(--green);
    color: #fff;
}
.btn.yellow{
    background: var(--yellow);
    color: #fff;
}
.btn.orange{
    background: var(--orange);
    color: #fff;
}
.btn[disabled]{
    color: #aaa;
    background: #dedede;
}
/* 边框button */
.btn.btn-border{    
    background: transparent;
    border: var(--input-border);
}
.btn-border.blue{
    border: solid 1px var(--blue);
    color: var(--blue);
}
.btn-border.green{
    border: solid 1px var(--green);
    color: var(--green);
}
.btn-border.yellow{
    border: solid 1px var(--yellow);
    color: var(--yellow);
}
.btn-border.orange{
    border: solid 1px var(--orange);
    color: var(--orange);
}
.btn-border[disabled]{
    border: solid 1px #dedede;
}

/* 小button */
.btn.btn-sm{    
    padding: 0 .08rem;
    min-width: .8rem;
    font-size: .16rem;
    line-height: 2;
}
/* 大button */
.btn.btn-lg{    
    padding: 0 .12rem;
    font-size: .16rem;
    line-height: 3;    
}
/* 最小button */
.btn.btn-mini{
    line-height: 1;
    min-width: unset;
    padding: 0.02rem .05rem;
    border-radius: 2px;
}

.mr1{
    margin-right: .1rem;
}
.mr2{
    margin-right: .2rem;
}

.btn-icon{
    background: transparent;
    border: solid 1px #424254;
    border-radius: 3px;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 22px;
}
.btn-icon .icon{
    margin-right: 10px;
}

.btn>input{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: unset;
    cursor: pointer;
    opacity: 0;
}

.a-btn{
    padding: 0 8px;
    margin: 0 4px;
}
.a-btn.orange{
    color: var(--orange);
}
.a-btn.green{
    color: var(--green);
}
.a-btn.blue{
    color: var(--blue);
}


/* input */
input, textarea{
    border: var(--input-border);    
    color: var(--input-color);
    width: 100%;    
}
input{
    height: var(--input-height);
}
textarea{
    height: 1.5rem;
    line-height: 2;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */ 
    color: var(--placeholder-color);
}
::-moz-placeholder { /* Firefox 19+ */  
    color: var(--placeholder-color);
}
:-ms-input-placeholder { /* IE 10+ */ 
    color: var(--placeholder-color);
}
:-moz-placeholder { /* Firefox 18- */ 
    color: var(--placeholder-color);
}

/* search */
.lui-search{
    position: relative;
    width: 100%;
}
.lui-search .icon-search{
    position: absolute;
    font-size: 22px;
    color: #68758b;
    right: 0.08rem;
    top: .08rem;
}
.lui-search input{
    padding-right: .4rem;
}
.lui-search.min .icon-search{
    font-size: 20px;
    top: 6px;
}
.lui-search.min input{
    height: 36px;
    padding-right: .36px;    
}


/* 带标签输入框 */
.lui-tag-input{
    width: 100%;
    height: var(--input-height);
    display: flex;
    border: var(--input-border);
    border-radius: 3px;
    align-items: stretch;    
}
.lui-tag-input>span{
    display: flex;
    padding: 0 .12rem;    
    align-items: center;
}
.lui-tag-input .before{
    background: linear-gradient(to right, var(--input-border-color), #dfdfdf);
}
.lui-tag-input .after{
    background: linear-gradient(to left, var(--input-border-color), #dfdfdf);
}
.lui-tag-input>input{
    flex: 1;
    border: none;
    height: 100%;
}

/* select */


/* check radio  */
a.checkbox, a.radio{
    display: inline-block;
    position: relative;
    color: var(--input-border-color);
    vertical-align: middle;
    padding-left: .22rem;
}
a.checkbox:before,a.radio:before{
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: .18rem;
    height: .18rem;    
    border: solid 1px;
    border-radius: .02rem;
    top: .02rem;
    left: .02rem;
}
a.checkbox:after{
    content: "";       
    position: absolute;   
    width: 0;
    height: 0;
    transition: height .2s, width .15s .1s; 
}
a.checkbox:hover, a.checkbox.checked, a.checkbox.in, a.radio.checked{
    color: var(--input-active-color);
}
a.checkbox.checked:after{
    transform-origin: center center;
    left: .07rem;
    top: .07rem;
    width: .08rem;
    height: .04rem;
    border-bottom: solid .015rem;
    border-left: solid .015rem;
    transform: rotate(-45deg);    
}
a.checkbox.checkin:after{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: .06rem;
    height: .06rem;
    background: var(--input-active-color);   
}
a.checkbox>span, a.radio>span{
    color: var(--input-color);
    margin-left: .06rem;
}

a.radio:before{
    border-radius: .1rem;
}
a.radio:after{
    content: "";       
    position: absolute;   
    width: 0;
    height: 0;
    background: var(--input-active-color);
    left: .11rem;
    top: .11rem;
    transform: translate(-50%,-50%);
    transition: all .2s; 
    border-radius: .04rem;
}
a.radio.checked:after{     
    width: .08rem;
    height: .08rem;
    transition: all .2s; 
}

.checkbox-group .checkbox, .radio-group .radio{
    margin-right: .4rem;
}


/* file input */
.file-input-transparent{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: none;
    background: transparent;
    opacity: 0;    
    cursor: pointer;
}


/* lui-table */
.lui-table .tr{
    line-height: 48px;
    border-bottom: var(--tbody-border);
    margin: 0 .2rem;
    display: flex;
}
.lui-table>.thead .tr{
    background: var(--thead-bg);
    border-bottom: var(--thead-border);
}
.lui-table .tr>span{
    padding: 0 .4rem 0 .14rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;   
}
.lui-table.flex-auto .tr>span{
    flex: 1;
}
.lui-table .tr.tr-empty{
    border-bottom: none;
}
.lui-table .tr.tr-empty span{
    width: 100%;
    text-align: center;
}
/* table-tr 更新动画 */
.table-tr-enter{
    opacity: 0;    
    transform: translateY(-50px);
}
.table-tr-enter-active{
    transition: opacity 1.5s, transform 1s;
}
.table-tr-move{
    transition: opacity 0.5s, transform 1.5s;
}

/* box-shadow */
.shadow{
	position: relative;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3),
				0px 0px 20px rgba(0,0,0,0.1) inset;
}
.shadow::before,
.shadow::after {
   content:"";
   position:absolute;
   z-index:-1;
   bottom:15px;
   left:10px;
   width:50%;
   height:20%;
   box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   transform:rotate(-3deg);
}
.shadow::after{
   right:10px;
   left:auto;
   transform:rotate(3deg);
 }

 /* 操作提升 */
.hit{
    position: absolute;    
    height: 42px;
    /* line-height: 42px; */
    left: 50%;
    top: 40%;
    text-align: center;
    margin-left: -66px;
    background: rgba(1,43,55,0.8);
    opacity: 0;
    transition: all 0.5s;
    border-radius: 4px;
    z-index: 99;
    color: #fff;
    padding: 10px 20px;
}
.hit.show{
   opacity: 1;
}

 /* popup */
 .popup, .alert{
    position: absolute;
    background: var(--popup-bg);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: -30px;
    border-radius: 3px;
    color: var(--popup-color);
    z-index: 900;
}
.popup.show{
    z-index: 1100;
}
.pp-title, .alert-title{
    height: 58px;
    border-bottom: solid 2px #eff0f2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;    
}
 .pp-body>._scroll>._con{
    max-height: 68vh;
    height: unset;
}
.pp-body ._scroll>._bar._v{
    right: 3px;
}
.layer-enter{
    transform:scale(0.5);
    opacity: 0.1;
}
.layer-enter-active{
    transition:  all .4s;    
}
.layer-leave-active{
    opacity: 0;
    top: 50%;
    transition:  all .4s; 
}
.popuping-enter{
    top: 40%;
    opacity: 0.1;
}
.popuping-enter-active{
    transition:  all .6s;    
}
.popuping-leave-active{
    opacity: 0;
    top: 60%;
    transition:  all .5s; 
}

/* l-r-check */
.l-r-check ._con{
    max-height: 60vh;
    min-height: 36vh;
}

/* vue 过度动态 fade */
.fade-enter{    
    transform: translateY(20px);
    opacity: 0.1;
}
.fade-enter-active{
    transition:  all .7s;
}
.fade-leave-active{
    opacity: 0.05;
    transform: translateY(20px);
    transition:  all .6s;
}