/* 设置root变量 */

:root{
    --font-family: "微软雅黑","Arial","Microsoft YaHei";
    --size: .16rem;    
    --active-color:#4fc08d;
    --blue: #3981e3;
    --green: #88c132;
    --yellow: #f4d338;
    --orange: #ff6d4b;

    --input-height: .4rem;
    --input-border-color: #ced3da;
    --input-border:solid 1px var(--input-border-color);
    --input-active-color: #3981e3;
    --input-color:#485778;

    --select-bg:#fff;    
    --scroll-bar: #bbb;
    --popup-bg: #fff;
    --popup-color: #5e6c84;
}

