<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    
    <script src="../../../dep/lui/js/Lui_2.0.js" config="../../../conf"></script>
    <script src="../../../dep/namespace/Namespace_3.0.7.js" defer="defer" >
        let config = {
            scripts:[
                "../../../dep/lui/js/LuiUtil.js",
            ],
            start: "../../js/test"
        }
    </script>
</body>
</html>